<!DOCTYPE html>
<html lang="en" ng-app="birdity">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<base href="/">
	<title>бирдость</title>
	<link rel="stylesheet" href="/birdity.css">
</head>
<body>

<div class="app fullscreen">
	<div class="sidebar" ng-controller="sidebar" ng-include="'sidebar'"></div>
	<div class="chat">
		<div class="content" ng-view></div>
	</div>
</div>

<script type="text/ng-template" id="sidebar">
	<div class="content">
		<div class="card">
			<img ng-src="{{user.userpic}}" class="userpic">
			<a href="" class="username">{{user.name}}</a>
			<button>Выйти</button>
		</div>

		<a class="tab" ng-repeat="tab in tabs|orderBy:'bump':true track by tab.id" href="/mockup/{{tab.id}}" ng-class="{
			current: tab.id == currentChat
		}">
			<div ng-class="{
				link: tab.type == 'link',
				user: tab.type == 'user',
				chatlink: tab.type == 'chat'
			}">
				<img ng-if="tab.type == 'user'" ng-src="{{tab.userpic}}" class="userpic"/>
				{{tab.text}}
			</div>
			<div class="new" ng-if="tab.id != currentChat">{{tab.unread}}</div>
			<div class="close" ng-if="tab.id == currentChat && tab.type != 'link'" ng-click="close(tab)"></div>
		</a>
	</div>
</script>

<script type="text/ng-template" id="chat">
	<div class="message" ng-repeat="message in chat" ng-class="{
		own: message.userid == user.id && message.type == 'text',
		status: message.type == 'status'
	}">
		<img ng-src="{{message.userpic}}" class="userpic" alt="{{message.username}}" title="{{message.username}}" ng-click="userChat(message)">
		<div class="text" ng-if="message.type == 'text'">
			<p>{{message.text}}</p>
		</div>
		<div class="status" ng-if="message.type == 'status'" ng-click="userChat(message)">
			{{message.username}}
			<span ng-if="message.status == 1">подписался</span>
			<span ng-if="message.status == 2">отписался</span>
			<span ng-if="message.status == 3">вас заблокировал</span>
			<span ng-if="message.status == 4">вас разблокировал</span>
		</div>
		<div class="attaches" ng-if="message.attaches">
			<div class="media" ng-repeat="attach in message.attaches">
				<img ng-if="attach.src" ng-src="{{attach.src}}">
				<video ng-if="attach.poster" poster="{{attach.poster}}" autoplay="autoplay" loop="loop" muted="muted">
					<source ng-if="attach.webm" type="video/webm" ng-src="{{trust(attach.webm)}}"/>
					<source ng-if="attach.mp4" type="video/mp4" ng-src="{{trust(attach.mp4)}}"/>
				</video>
			</div>
		</div>
		<div class="join" ng-if="message.newChat">
			<button ng-click="join(message)">{{message.newChat}}</button>
		</div>
	</div>
</script>

<script src="/birdity.js"></script>
</body>
</html>