@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400&subset=latin,cyrillic);

html, body, .page, .container, .sidebar, .log {
	height: 100%;
}

body {
	margin: 0;
}

body, input, textarea, button {
	font: 300 14px/1.4 'Roboto', sans-serif;
}

body, .log .container, .current {
	background: rgba(27, 25, 45, 1);
}

button {
	padding: 1px 8px 3px;
	background: none;
	color: #fff;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 8px;
}

button:hover {
	border-color: #fff;
}

.sidebar, .log {
	float: left;
}

.sidebar {
	width: 35%;
	background: rgba(0, 0, 0, 0.2);
}

.log {
	width: 65%;
	overflow-y: scroll;
}

.sidebar .container {
	margin-right: -20px;
	width: 350px;
	float: right;
	overflow-y: scroll;
}

.log .container {
	width: 550px;
}

.userpic {
	width: 56px;
	height: 56px;
	border-radius: 16px;
}

.userpic-m {
	width: 38px;
	height: 38px;
	border-radius: 8px;
}

.card {
	padding: 15px;
}

.card .userpic {
	margin-top: 5px;
	margin-right: 12px;
	float: left;
}

.card p {
	margin: 0 0 8px;
}

.username {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

.item {
	padding: 10px 20px;
	display: block;
	font-size: 16px;
	color: #ddd;
	text-decoration: none;
	border-radius: 8px 0 0 8px;
}

.item:hover {
	color: #fff;
}

.item .userpic {
	margin-right: 7px;
	vertical-align: middle;
}

.item i {
	margin-left: 12px;
	margin-top: 6px;
	float: right;
	font-style: normal;
	font-size: 16px;
}

.thread {
	font-size: 12px;
}

.roster form {
	padding: 20px;
}

input {
	background: none;
	border: 0 none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	color: #fff;
}

.roster input {
	width: 100%;
}

.log .container {
	position: relative;
	color: #ddd;
}

.history {
	width: 100%;
	padding: 25px;
	position: absolute;
	bottom: 0;
}

.message {
	margin: 25px 0;
	font-size: 16px;
}

.message .userpic {
	margin-right: 7px;
	vertical-align: middle;
}

.message.own {
	text-align: right;
}

.message.own .userpic {
	margin: 0 0 0 7px;
}

.history input {
	width: 100%;
}