@import url(http://fonts.googleapis.com/css?family=Roboto:100,400&subset=latin,cyrillic);

html, body {
	height: 100%;
}

body {
	margin: 0;
}

body, input, button {
	font: 16px/1.4 'Roboto', sans-serif;
	color: #fff;
}

.bg {
	position: fixed;
	right: 0;
	bottom: 0;
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
}

section {
	background: rgba(31, 9, 67, 0.9);
	width: 100%;
	height: 100%;
	display: table;
	position: relative;
	z-index: 10;
}

article {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

h1 {
	margin: 0 0 50px;
	font: 100 72px/1 'Roboto', sans-serif;
}

@media (min-width: 800px) {
	h1 {
		font-size: 144px;
	}
}

input {
	width: 250px;
	background: none;
	border: 0 none;
	border-bottom: 1px solid #fff;
}

input:focus, button:focus {
	outline: 0 none;
}

button {
	padding: 5px 12px;
	background: 0 none;
	border: 1px solid #fff;
	border-radius: 4px;
}

button:hover {
	background: rgba(255, 255, 255, 0.1);
}

button:active {
	background: rgba(255, 255, 255, 0.3);
}

button:disabled {
	opacity: 0.3;    
	pointer-events: none;
}

.done {
	border-color: #00ff00;
	color: #00ff00;
}